.section_about{
    position: relative;
    margin-top: 5em;
    height:auto;
}

.section_about .container .row .picture {
  width: 100%;
  padding: 1em;
}

.section_about .container .row h3 {
    font-size: xx-large;
    font-weight: 900;
    padding-bottom: 0.5rem;
    font-family: 微軟正黑體;
    font-weight: 900;
}

.section_about .container .row  P {
    line-height: 1.8;
    font-size: medium;
    font-family: 微軟正黑體;
    font-weight: 900;
}

.section_about .container .row .text {
    padding:50px;
}

@media (max-width: 768px)  {

    .section_about .container .row .text {
        padding:50px;
    }

}
@media (max-width: 480px)  {

    .section_about .container .row .text {
        padding:50px;
    }

}