@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:700&display=swap');
/* -------------footer----------------- */



footer {
    background-color: #000 !important;
    overflow : hidden;
    height: auto;
    display:block;
    bottom: 0;
    background-color: #151515;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    overflow: hidden ;
  }

  .icongrid{
    align-items: center;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .linkgrid{
    font-size: x-small;
    line-height: 2;
  }



  footer .icon {
    max-width: 5em;
  }

  .footer.container{
    margin-top: 6em;
    
  }

  p.location{
    text-align: left;
    font-size: x-small;
    color: #fff;
    

  }
  .location ul li{
    text-align: left;
    color: #fff;
    font-size: x-small;
    line-height: 2;
  }

  .location h2 , .linkgrid h2 {
    text-align: left;
    color: #fff;
    font-size: medium;
    line-height: 2;
  }


.row:before, .row:after{
  display: none !important;
  }

  @media screen and (max-width: 1080px){
    body{
      -webkit-text-size-adjust: none;
    }
  }


@media (max-width: 575.98px) {
  p.location{
    display: none;
  }
  .location {
    display: none;
  }

  footer .icon {
    max-width: 100px;
    margin-top: 0;
  }
  .linkgrid {
    display: none;
  }

}

.footer-copyright{
  padding: 1em;
  background-color: rgb(2, 2, 2) ;

}



/*------------------------------------------------------------------
    MISC
-------------------------------------------------------------------*/

.dmtop.show {
  bottom: 30px;
}

.progress {
  background-color: #f2f3f5;
  border-radius: 0;
  box-shadow: none;
  height: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.scroll_to_top{
  width: 60%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.dmtop {
  background-color: #151515;
  border: solid 1px;
  z-index: 100;
  width: 50px;
  height: 50px;
  line-height: 47px;
  position: fixed;
  bottom: -100px;
  border-radius: 3px;
  right: 30px;
  text-align: center;
  font-size: 28px;
  color: #ffffff !important;
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}


.preparing{
  padding: 1em;
  
  text-align: center;
}


.hit-the-floor {
  color: #fff;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}