body {
    font-family: 微軟正黑體;
    overflow-x: hidden;
}
  
#slider{
	width:100%;
	height: 100vh;
	position:relative;
  overflow-x:hidden;
  top:-4.3em;
}

#slider img{
	width:940px;
	height:350px;
}

.img1, .img2, .img3, .img4, .img5 {
	width:100%;
	margin:0;
  padding:0;
    
    
} 

.slide{
	position:absolute;
	width:100%;
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide:nth-child(1){
	background-image: url('../images/events/02.jpg');
  background-position: center;

}

.slide:nth-child(2){
	background-image: url('../images/events/05.jpg');
  background-position: center;

}

.slide:nth-child(3){
	background-image: url('../images/events/03.jpg');
  background-position: center;
  background-size: contain;
}

.slide:nth-child(4){
	background-image: url('../images/events/04.jpg');
  background-position: center;

}

.slide:nth-child(5){
	background-image: url('../images/events/06.jpg');
  background-position: center;

}


@media (max-width: 768px)  {
    #slider{
        width:100%;
        height: 100vh;
        position:relative;
        overflow-x:hidden;
        top:-15em;
    }
    #front_container{
        height: 45vh;
        margin-bottom: 6em;
        position: relative;
    }
    
}
@media (max-width: 480px)  {
    #front_container{
        margin-bottom:-3em;
    }
    #slider{
      width:100%;
      height: 100vh;
      position:relative;
      overflow-x:hidden;
  }
    
}


#prev, #next{
	cursor:pointer;
	z-index:2;
	background:#666;
	height:50px;
	width:20px;
	display:inline-block;
	position:relative;
	top:45vh;
	margin:0;
	padding:0;
	opacity:0.5;
	filter: alpha(opacity=70);
}
@media (max-width: 768px)  {
  #prev, #next{
    cursor:pointer;
    z-index:2;
    background:#666;
    height:50px;
    width:20px;
    display:inline-block;

    top:20vh;
    margin:0;
    padding:0;
    opacity:0.5;
    filter: alpha(opacity=70);
  }
}

#next{
	float:right;
	right:0;
}

#prev{
	float:left;
	left:0;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	border-left: 10px solid #fff;
	position:relative;
	top:30%;
	right:-40%;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	border-right: 10px solid #fff; 
	position:relative;
	top:30%;
	left:20%;
}


 
.heading-container h1 span.black-heading-bg {
    display: inline;
    background-image: linear-gradient(#000000, #000000);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: 0 90%;
    margin-left: -0.55rem;
    margin-right: -0.55rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    transition: background-size  1s ease;
}

.heading-container h1 span.black-heading-bg.show {
    background-size: 100% 90%;
}

.heading-container h1 i {
    font-size: 100px;
}


.left-banner .banner .left-banner01{
    display: block;
    text-align: center;
    align-items: center;
    padding-top: -5em;
}
.left-banner .banner .more-banner {
    font-weight: 700 !important;
    font-size: 14pt;
    writing-mode: vertical-rl;
    padding: 2rem 0rem 5rem;

}
@media (max-width: 768px)  {
    .left-banner .banner .more-banner {
        font-weight: 700 !important;
        font-size: 14pt;
        padding: 2rem 0rem 5rem;
    
    }
}

.logo-banner{
    position: relative;
    top: -2rem;
}





.section_future{
    position: relative;
    margin-top: 2em;

}

.section_future .container .row .picture {
  width: 10em;
}

.section_future .container .row h3 {
    font-size: xx-large;
    font-weight: 900;
    padding-bottom: 0.5rem;
    font-family: 微軟正黑體;
    font-weight: 900;
}

.section_future .container .row  P {
    line-height: 1.8;
    font-size: medium;
    font-family: 微軟正黑體;
    font-weight: 900;
}

.section_future .container .row:hover {
    filter: brightness(0.5);
    transition-duration: 0.5s;
}

.section_future .container .row .text01{
  padding: 2em;

}

@media (max-width: 768px)  {
    .section_future{
        margin-bottom: 0;
        margin-top: 5em;
    }
    .section_future .container .row .text {
        padding:50px;
    }

}
@media (max-width: 480px)  {
    .section_future{
        margin-bottom: 0;
        margin-top: 0em;
    }
    .section_future .container .row .text {
        padding:50px;
    }

}


/*----------------------------------------------------
siteHead
----------------------------------------------------*/
#siteHead {
    position: fixed;
    top: 20px;
    left: 20px;
    background: transparent;
    text-align: left;
    z-index: 90;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 751- */
    /* 2201- */ }
    #siteHead .logo {
      width: 160px;
      font-size: 20px;
      line-height: 1;
      letter-spacing: 0.2em;
      font-weight: bold; }
    #siteHead .shoulder {
      display: block;
      font-family: 微軟正黑體;
      margin-top: 8px;
      font-size: 8px;
      line-height: 1.8;
      letter-spacing: 0.2em;
      font-weight: bold; }
    #siteHead.js_scroll::before {
      content: "";
      position: fixed;
      background: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 55px;
      left: 0;
      top: 0;
      z-index: -1;
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      /* 751- */
      /* 1136- */ }
      @media all and (min-width: 751px) {
        #siteHead.js_scroll::before {
          height: 60px; } }
    @media all and (min-width: 751px) {
      #siteHead {
        top: 50px;
        left: 40px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.93, 0.03, 0.54, 0.99);
        -o-transition-timing-function: cubic-bezier(0.93, 0.03, 0.54, 0.99);
        transition-timing-function: cubic-bezier(0.93, 0.03, 0.54, 0.99); }
        #siteHead .logo {
          font-size: 26px;
          width: 204px;
          height: 18px; }
          #siteHead .logo img {
            width: 233px;
            height: 20px; }
        #siteHead .shoulder {
          display: block;
          font-family: 微軟正黑體,sans-serif;
          margin-top: 15px;
          font-size: 12px;
          line-height: 2;
          letter-spacing: 0.2em;
          font-weight: bold; } }
    @media all and (min-width: 2200px) {
      #siteHead {
        left: 50%;
        margin-left: -1060px; } }
  
  body.nav_scr #siteHead {
    /* 751- */
    /* 2201- */ }
    @media all and (min-width: 751px) {
      body.nav_scr #siteHead {
        top: 20px;
        left: 30px; } }
    @media all and (min-width: 2200px) {
      body.nav_scr #siteHead {
        left: 50%;
        margin-left: -1080px; } }
  
  #pageHome{
    background-color: rgb(211, 211, 211);
    padding-top: 1em;
  }
  
  
  
  
  .latest{
    font-weight: 900;
  }
  
  .top_news_title{
    text-align: center;
    
  }
  
  .top_news_title p{
    font-family: 微軟正黑體;
    font-weight: 900 !important;
    font-size: 30pt;
  }
  
  .card-deck{
    width: 100%;
    margin:0;
  }
  
  
  
  
  .home-page-limestone{
    margin-bottom: 2em;
    padding: 5em;
    overflow-x: hidden;
  }
  @media (max-width: 768px)  {
    .home-page-limestone{
      padding: 0;
      margin: 0;
    }
  }

  .icon-entry{
    padding:3em 1em 0em 1em;
  }
  
  .section-heading{
    padding: 3em;
    margin-top: 0em;
  }
  
  .see_all{
    margin-top: 2em;
    border-radius:0;
  }
  
  .design-categories{
    display: flex;
    text-align: center;
    margin-right:-4px;
  }
  
  .design-categories-2{
    margin-top: 1em;
    display: flex;
    text-align: center;
  }
  
  .entry-title{
    font-weight: 900;
  }
  
  .entry-heading{
    background-color: rgb(248, 248, 248);
    border-radius:10px;
    top:3em;
    height:24em;
  }

  .home-page-limestone .icon-categories{
    width: 8em;
    
  }
  
  @media (max-width: 768px)  {
    .home-page-limestone .icon-categories{
      width: 5em;
    }
  }
  
  @media (max-width: 480px)  {  
    .see_all{
      margin-top: 1em;
      border-radius:0;
    } 
  }
  
  
  .text-categories{
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    font-size: 12pt;
    text-align: center;
    
  }
  
  @media (max-width: 768px)  {
    .text-categories{
      margin-top: 10px;
      color: #000;
      font-weight: 600;
      font-size: 10pt;
      text-align: center;
    }
    .entry-heading{
      height:30em;
      bottom: 2em;
      background-color: transparent;
    }
    .icon_col{
     padding: 0 !important;
    }
    .icon-entry{
      background-color: rgb(248, 248, 248);
      padding: 3em 1em 3em 1em;
      bottom: 4em;
    }
    .section-heading{
      padding: 0 35px 0 35px;
      margin-top: 0em;
    }
    
  }
  
  
  /* 旋轉他 */
  
  @media all and (min-width: 1136px) { 
    .home-page-limestone .categorie-box a { -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
    .home-page-limestone .categorie-box a .logo-white { max-width: 250px; margin: 0 auto; }
    .home-page-limestone .categorie-box a .logo-white img { -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
    .home-page-limestone .categorie-box a:hover .logo-white img { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); } 
  }

  /* 地圖資料 */
.top_news_title{
  margin-top: 3em;
}

.banner-Maps{
  display: flex;
  height: auto;
}

.left-banner-Maps{
  position: relative;
  z-index: 5;
  top: -5rem;
  margin-left: 25%;
  
  
}

.left-banner-Maps .banner {
  background-color: #000;
  color: #fff;
  width: 350px; 
  text-align: left;
  align-items: center; 
  padding: 1.8em;
  opacity: 0.9;
}


.left-banner-Maps .banner .more-banner {
  font-weight: 700 !important;
  font-size: 18pt;
  
}
.left-banner-Maps .banner .Details-banner {
  font-size: 10pt;
}

@media (max-width: 768px) {
  .left-banner-Maps {
      position: relative;
      margin-left: 0;
      margin-bottom: 0;
      top: 0;
  }
  .left-banner-Maps .banner {

      width:100vw; 
  }

}