div.logo {
  position: fixed;
  top: 15px;
  left: 2em;
  max-height: auto;
  max-width: 140px;
  z-index: 999;
}

@media (max-width: 768px)  {
  div.logo {
    position: fixed;
    top: 19px;
    left: 2em;
    width: 120px;
    z-index: 999;
  }
}

.icon06{
 margin-right: 10px;
}

.accordion-group li:nth-child(4) .accordion-overlay {
  background-color: #333;
  opacity: 0.8;
}
.accordion-group li:nth-child(4).out .accordion-overlay {
  background-color: #333;
  opacity: 0;
}
.accordion-group li:nth-child(3) .accordion-overlay {
  background-color: #333;
  opacity: 0.8;
}
.accordion-group li:nth-child(3).out .accordion-overlay {
  background-color: #333;
  opacity: 0;
}
.accordion-group li:nth-child(2) .accordion-overlay {
  background-color: #333;
  opacity: 0.8;
}
.accordion-group li:nth-child(2).out .accordion-overlay {
  background-color: #333;
  opacity: 0;
}
.accordion-group li:nth-child(1) .accordion-overlay {
  background-color: #333;
  opacity: 0.8;
}
.accordion-group li:nth-child(1).out .accordion-overlay {
  background-color: #333;
  opacity: 0;
}
a.active,
a:active,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site-outer {
  overflow: hidden;
  
  
}
.site-outer .navbar {
  background-color: #fff;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  position: fixed;
  height: 70px;
  z-index: 999;
  box-shadow:5px 5px 10px rgba(0,0,0,0.05);
  padding:0 !important;
  
}

.container-menu {
  margin: 0 auto;
  
}
.container-menu:before,
.container-menu:after {
  content: "";
  display: block;
  zoom: 1;
}
.container-menu:after {
  clear: both;
}
.container-menu .menu {

  cursor: pointer;
  position: fixed;
  width: 3em;
  /* border:solid; */
  top:0.4em;
  right: 1em;
  padding: 2em;
}
.container-menu .menu div {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #333;
  margin-bottom: 0.3rem;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
  position: absolute;
  
}
.container-menu .menu div:nth-child(1) {
  top: 23px;
  left: 0;
  height: 0.15rem;
}
.container-menu .menu div:nth-child(2) {
  top: 29px;
  left: 0;
  height: 0.15rem;
}

.container-menu .menu div:nth-child(3) {
  top: 35px;
  height: 0.18rem;
  left: 0;
}
.container-menu .menu div:nth-child(2):after {
  content: "";
  position: absolute;
  top: 0;
  width: 1.5rem;
  height: 0.1rem;
  background-color: #333;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  transition: all 350ms ease;
  
}

.container-menu .menu.active div:nth-child(1),
.container-menu .menu.active div:nth-child(3) {
  width: 0;
  height: 0.15rem;
}
.container-menu .menu.active div:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 0.15rem;
}
.container-menu .menu.active div:nth-child(2):after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 0.15rem;
}


.accordion-group {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
.accordion-group li {
  cursor: pointer;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 2em;
  list-style: none;
  width: 16.66666667%;
  height: inherit;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.accordion-group li h3 {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5pt;
  padding: 0;
  margin: 6.5rem 0 0;
}
.accordion-group li .accordion-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.accordion-group li section {
  display: flex;
  align-items: center;
  width: 33.3%;
  height: 100%;
}
.accordion-group li section.big-section {
  width: 100%;
}
.accordion-group li section article {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  right: -200%;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.accordion-group li section article p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  color: #333;
  font-size: 10pt;
  letter-spacing: 0;
  margin-left: 40px;
}

.accordion-group li section article p:before,
.accordion-group li section article p:after {
  content: "";
  display: block;
  height: 1px;
}
.accordion-group li.out {
  width: 50%;
}
.accordion-group li.out section article {
  right: 0;
}

.navigation {
  background-color: #ffffff;
  overflow: auto;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 3em;
  left: 0;
  width: 290px;
  height: 100%;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 998;
  transform: translate3d(-450px, 0, 0);
  font-family: 微軟正黑體;
  box-shadow:5px 5px 10px rgba(0,0,0,0.05);
  z-index:998;
}

.navigation.slide-right {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

}

.navigation-content {
  padding: 70px 70px; 
}

.navigation-content h3 {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1pt;
  padding: 0;
  font-weight: 900;
}
.navigation-content .navigation-menu {
  list-style: none;
  padding: 0;
}
.navigation-content .navigation-menu li {
  display: block;
  padding: 1pt 0;
  margin: 0;
}
.navigation-content .navigation-menu li a {
  color: #333;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 700 ;
}

.icon-youtube {
  width: 1.6rem !important;
  height: auto;
  display: inline-block;
  margin-top: 5px;
}
.icon-facebook {
  width: 1.6rem !important;
  height: auto;
  display: inline-block;
  margin-left: 0.2rem;
}

.navigation-content .navigation-menu li a.active,
.navigation-content .navigation-menu li a:active,
.navigation-content .navigation-menu li a:hover,
.navigation-content .navigation-menu li a:focus {
  color: #000000;
  font-weight: 700;
}

@media (min-width: 767px) {
  .accordion-group {
    height: 360px;
  }
  .accordion-group li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .accordion-group li.out h3 {
    opacity: 0;
  }
  .accordion-group li h3 {
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 2.5rem;
    padding: 0;
    margin: 10rem 0;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.scroll_to_top{
  width: 60%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.overlayer {
  background: rgba(20,20,20,0.5);
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height:100vh;
  z-index: 996;
  overflow: auto;
  font-family: 微軟正黑體;
  display: none;
  top:0px;
}
  
.overlayer.slide-right {
  visibility: visible;
  transition: all 10s ;
  display: block;
}

.fix-height{
  height:100px;
}