body {
    font-family: 微軟正黑體;
    overflow-x: hidden;
}



.section_playground{
    position: relative;
    margin-top: 5em;

}

.section_playground .container .row .picture {
  width: 100%;
  padding: 1em;
}

.section_playground .container .row h3 {
    font-size: xx-large;
    font-weight: 900;
    padding-bottom: 0.5rem;
    font-family: 微軟正黑體;
    font-weight: 900;
}

.section_playground .container .row  P {
    line-height: 1.8;
    font-size: medium;
    font-family: 微軟正黑體;
    font-weight: 900;
}

@media (max-width: 768px)  {

    .section_playground .container .row .text {
        padding:50px;
    }

}
@media (max-width: 480px)  {

    .section_playground .container .row .text {
        padding:50px;
    }

}

.pictures {
  width: 100%;
  height: auto;
  margin: 10px 0 ;
}

section.headline h4{
  text-align: center;
  font-weight: 900;
  font-size: x-large;
}

.right_text{
  top:1em;
  font-size: x-large;
}

hr.center{
  text-align: center;
  border: 0; 
  height: 3px;
  background: black;
}



hr.right{
  margin: 15px 0;
  width: 25px;
  height: 1px;
  background: black;

}
.category{
  font-size: small;
}
section.works{
  margin-bottom: 2em;
}