

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


main{
    z-index: 0 !important;
}

main .side.right {
    font-size: 1rem;
    width: 0;
    min-height: 0;
    display: block;
    float: right;
    z-index: 0;
    width: 50%;
    min-height: 13rem;
    margin-top: 6em;
  }
  @media (max-width: 768px) {
    main .side.right {
      width: auto;
      padding:0;
      z-index: -1;
      margin-top: 0;
      
    }
  }
  
  .video-banner {
    display: block;
  }
  @media (min-width: 768px) {
    .video-banner {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }
  }
  
  .video-banner .video-banner-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    filter:brightness(.8);
  }
  .video-banner-headline {
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 23pt !important;
    font-weight: 700;
    line-height: 1.0em;
    color: #fff ;
    text-transform: uppercase;
    letter-spacing: 0.045em;
  }

  @media (max-width: 768px) {
    .video-banner-headline {
      left: 2em;
      bottom:3em;
      font-size: 13pt !important;
      line-height: 1.5em;
    }
  }

  .video-banner-icon-play {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    width: 5em;
    height: 5em;
    transform: translateX(-50%) translateY(-50%) scale(1.0);
    
    transition: 
      all 0.2s ease-out 0.05s;
  }

  @media (max-width: 768px) {
    .video-banner-icon-play {
      width: 4em;
      height: 4em;
    }
  }

  .video-banner-icon-play:hover {
      transform: translateX(-50%) translateY(-50%) scale(1.2);
  }
  
  .content {
    display: block;
    min-height: 100vh;
    max-width: 40rem;
    margin: 2.5rem auto;
    padding: 1.5rem;
  }
  @media (min-width: 768px) {
    .content {
      margin: 5.75rem auto;
      padding: 2.5rem;
    }
  }
  
  .content h1,
  .content h2,
  .content p {
    font-family:'Noto Sans TC', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #0D013D;
  }
  
  .content h1 {
    font-size: 3.25em;
    font-weight: 200;
    line-height: 1.0em;
    
    margin: 0 0 0.5rem 0;
  }
  @media (min-width: 768px) {
    .content h1 {
      font-size: 4em;
    }
  }
  .content h2 {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.155em;
    margin-top: 3em;
  }
  
  /* buttons */
  .content .button-group {
    margin-top: 1em;
  }
  .content .button {
    display: inline-block;
    padding: 1em 2em;
    min-width: 8em;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    border-radius: 1.5em;
    box-shadow: 0 1px 1px rgba(122, 119, 119, 0.25);
    
  
      transition: 
          all 0.2s ease-out 0.05s;
  }
  .content .button ~ .button {
    margin-left: 0.5em;
  }

  
  /* video thumbnail grid */
  .content .video-thumb-grid {
    position: relative;
    font-size: 0; /* collapse the white-space */
    width: calc(100% + 2rem);
    margin: 0 -1rem;
  }
  .content .video-thumb {
    display: inline-block;
    vertical-align: top;
    
    text-decoration: none;
    
    /* calculate the width, gutters, and aspect ratio */
    width: calc((100% - 4rem) / 2);
    height: 0;
    padding-top: calc(((100% - 4rem) / 2) * 0.5625); /* 16:9 calc */
    
    margin: 1rem 1rem; /* gutters */
    
    overflow: hidden; /* clipping */
    
    position: relative; /* enable positioning for inner content */
    
    font-size: 1rem; /* reset the font size */
    
      transform: scale(1.0);
    box-shadow: 0 0 0 rgba(0,0,0,0.0);
    
      transition: 
          all 0.2s ease-out 0.05s;
  }
  .content .video-thumb:hover {
      transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(13,1,61,0.35);
  }
  .content .video-thumb img {
    display: block;
    width: 100%;
    height: 100%;
    
    /* position inside the 16:9 container */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    /* clipping for source images that are letterboxed */
    object-fit: cover;
    object-position: 50% 50%;
    background: #2b2b2b;
  }
  
  /* Video Modal
  -----------------------------------------*/
  .video-modal,
  .video-modal .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
  }
  .video-modal {
    overflow: hidden;
    position: fixed;
    opacity: 0.0;
    transform: translate(500%,0%);
    transition: transform 0s linear 0s;
  
  
    /* using flexbox for vertical centering */
  
    /* Flexbox display */
    display: flex;
  
    /* Vertical alignment */
    align-items: center;
    transform-style: preserve-3d;
  }
  .video-modal .overlay {
    z-index: 0;
    background: rgba(20,20,20,0.5); /* overlay color */
    opacity: 0.0;
    transition: opacity 0.2s ease-out 0.05s;
  }
  
  
  .video-modal-content {
      position: relative;
      top: 5vh;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 1;
    
      margin: 0 auto;
  
      overflow-y: visible;
  
      background: #000;
    
    width: calc(100% - 12em);
    height: 0;
    padding-top: calc((100% - 12em) * 0.5625); /* 16:9 calc */
  }
  
  /* Scaling to fit within the current Viewport size:
     When viewport aspect ratio is greater than 16:9
     work off the height instead of the width for calc */
   @media (min-aspect-ratio: 16/9) {
    .video-modal-content {
      width: 0;
      height: calc(100vh - 10em);
      padding-top: 0;
      padding-left: calc((100vh - 10em) * 1.7778); /* 16:9 calc */
    }
  }
  
  /* Mobile Layout Tweaks - side margins reduced */
  @media (max-width: 768px) {
      .video-modal-content {
          width: calc(100% - 1em);
      padding-top: calc((100% - 1em) * 0.5625); /* 16:9 calc */
      }
  }
  
  /* modal close button */
  .close-video-modal {
      display: block;
      position: absolute;
      left: 0;
      top: -40px;
  
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
  }
  
  /* set the iframe element to stretch to fit its parent element */
  iframe#youtube {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: #000;
      box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
  }
  
  /* show the modal: 
     add class to the body to reveal */
  .show-video-modal .video-modal {
      opacity: 1.0;
      z-index: 999;
      transform: translate(0%,0%);
  }
  .show-video-modal .video-modal .overlay {
      opacity: 1.0;
  }
  .show-video-modal .video-modal-content {
      transform: translate(0%,0%);
  }